
#root{
  width: 100%;
  display: flex !important;
  flex-direction: column;
}


.header{
  &__jobname{
    text-align: center;
    height: 10.438cqw;
    font-size: 100px;
    line-height: 13.438cqw;
    font-size: 14.438cqw;
  }
}
.text-shadow{
  text-shadow: 10px 4px black;

}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  animation: counter 1s infinite  linear;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;

  &::after {
    content: counter(num);
  }
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 1000;
  }
}
.stage2{
  .container::before,
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
  }
  .container::before {
    left: calc(33.33% - 0.5px);
  }
  .container::after {
    right: calc(33.33% - 0.5px);
  }
}


.akira-text-block{
  word-spacing: -0.05em;
 }
 .akira-link{
  word-spacing: -0.4em;
  cursor: pointer;
  &:hover{
    background-color: black;
    color: #B7B7B7;
  }
 }
 .block-shadow{
  text-shadow: 10px 10px black;
 }

 .corner-box{
    --b: 10px;   /* thickness of the border */
    --c: black;   /* color of the border */
    --w: 100px;  /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    
 }