
#root{
  width: 100%;
  display: flex !important;
  flex-direction: column;
}


.header{
  &__jobname{
      &--desktop{
        height: 10.438cqw;
      font-size: 100px;
      line-height: 13.438cqw;
      font-size: 14.438cqw; 
      }
      &__first--mobile{
        height: 20.938cqw;
        font-size: 100px;
        line-height: 30.438cqw;
        font-size: 30.538cqw; 
      }
      &__second--mobile{
        height: 22.438cqw;
        font-size: 100px;
        line-height: 30.438cqw;
        font-size: 29.138cqw; 
      }

    }

}
.text-shadow{
  text-shadow: 10px 4px black;

}

@property --num {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  animation: counter 1s infinite  linear;
  counter-reset: num var(--num);
  font: 800 40px system-ui;
  padding: 2rem;

  &::after {
    content: counter(num);
  }
}

@keyframes counter {
  from {
    --num: 0;
  }
  to {
    --num: 1000;
  }
}
.stage2{
  .container::before,
  .container::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 1px;
    background-color: black;
  }
  .container::before {
    left: calc(33.33% - 0.5px);
  }
  .container::after {
    right: calc(33.33% - 0.5px);
  }
}


.akira-text-block{
  word-spacing: -0.05em;
 }
 .akira-link{
  word-spacing: -0.4em;
  cursor: pointer;
  &:hover{
    background-color: black;
    color: #B7B7B7;
  }
 }
 .block-shadow{
  text-shadow: 10px 10px black;
 }

 .akira{
  font-family: "Akira";
  letter-spacing: 0em;
}

.evangelion-lined{
  font-family: "Evangelion";
  letter-spacing: 0em;
  text-shadow: -1px 0 #EB0202, 0 1px #EB0202, 1px 0 #EB0202, 0 -1px #EB0202;
  color:    #0D0D0D;
  margin: 0;
  line-height: 0.91em;
  height: 465px;
}
.evangelion{
  font-family: "Evangelion";
  letter-spacing: 0em;
}

.desolation{
  font-family: "Desolation";
  letter-spacing: 0em;
}

.chicago{
  font-family: "Chicago";
  letter-spacing: 0em;
}

.chicago-lined{
  font-family: "Chicago";
  text-stroke:1px #C20F0F ;
  -webkit-text-stroke: 1px #C20F0F ;
  color:    transparent;
  margin: 0;
}

.lined-black{
  text-stroke:1px #0D0D0D ;
  -webkit-text-stroke: 1px #0D0D0D ;
  color: transparent;
}

.lined-red{
  text-stroke:1px #C20F0F ;
  -webkit-text-stroke: 1px #C20F0F ;
  color: transparent;
}

.lined-#B7B7B7{
  text-stroke:1px #B7B7B7 ;
  -webkit-text-stroke: 1px #B7B7B7 ;
  color: transparent;
}

.text-#B7B7B7{
  color: #B7B7B7;
}

.bg-red{
  background-color: #800000;
}

 .corner-box{
    --b: 10px;   /* thickness of the border */
    --c: black;   /* color of the border */
    --w: 100px;  /* width of border */
    
  
    border: var(--b) solid #0000; /* space for the border */
    --_g: #0000 90deg,var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
      conic-gradient(from 90deg  at top    var(--b) left  var(--b),var(--_g)) 0    0    / var(--_p),
      conic-gradient(from 180deg at top    var(--b) right var(--b),var(--_g)) 100% 0    / var(--_p),
      conic-gradient(from 0deg   at bottom var(--b) left  var(--b),var(--_g)) 0    100% / var(--_p),
      conic-gradient(from -90deg at bottom var(--b) right var(--b),var(--_g)) 100% 100% / var(--_p);
    
 }