@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #0D0D0D;
  background-color: #0D0D0D;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
@font-face {
  font-family: "Akira";
  src: local("Akira"),
    url("./assets/fonts/Akira.otf") format("opentype");
}
@font-face {
  font-family: "Desolation";
  src: url("./assets/fonts/Desolation.ttf") format("truetype");
}

@font-face {
  font-family: "Evangelion";
  src: url("./assets/fonts/Evangelion.otf") format("opentype");
}

@font-face {
  font-family: "Chicago";
  src: url("./assets/fonts/Chicago.ttf") format("truetype");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100vw;
}


.akira{
  font-family: "Akira";
  letter-spacing: 0em;
}

.evangelion-lined{
  font-family: "Evangelion";
  letter-spacing: 0em;
  text-shadow: -1px 0 #EB0202, 0 1px #EB0202, 1px 0 #EB0202, 0 -1px #EB0202;
  color:    #0D0D0D;
  font-size: 40em;
  margin: 0;
  line-height: 0.91em;
  height: 465px;
}
.evangelion{
  font-family: "Evangelion";
  letter-spacing: 0em;
}

.desolation{
  font-family: "Desolation";
  letter-spacing: 0em;
}

.chicago{
  font-family: "Chicago";
  letter-spacing: 0em;
}

.chicago-lined{
  font-family: "Chicago";
  text-stroke:1px #C20F0F ;
  -webkit-text-stroke: 1px #C20F0F ;
  color:    transparent;
  margin: 0;
}

.lined-black{
  text-stroke:1px #0D0D0D ;
  -webkit-text-stroke: 1px #0D0D0D ;
  color: transparent;
}

.lined-red{
  text-stroke:1px #C20F0F ;
  -webkit-text-stroke: 1px #C20F0F ;
  color: transparent;
}

.lined-white{
  text-stroke:1px white ;
  -webkit-text-stroke: 1px white ;
  color: transparent;
}

.text-white{
  color:white;
}